<!DOCTYPE html>
<html lang="fa">
<%- include("./templates/head.ejs") %>
<body>
    <%- include("./templates/flash.ejs", {flash}) %>
    <%- include("./templates/header.ejs") %>

    <h1 dir="rtl" style="text-align: center;font-size: 50px;color: rgb(88, 183, 221);">خوش آمدید!</h1>
    <p style="text-align: center; font-size: 25px; color: rgb(88, 183, 221); font-weight: bold;"><%= user.username %></p>
</body>
</html>