<!DOCTYPE html>
<html lang="en">
<%- include("./templates/head.ejs") %>
<body style="background-color: #ccc; display: flex; justify-content: center; align-items: center; height: 90vh;">
    <link rel="stylesheet" href="/css/login.css">
    <%- include("./templates/flash.ejs", {flash}) %>
    <form action="/login" method="post">
        <h1>ورود</h1>
        <div style="display: flex; flex-direction: column;">
            <input type="text" name="username" placeholder="نام کاربری">
            <input type="password" name="password" placeholder="کلمه عبور">
        </div>
        <button type="submit">ورود</button>
    </form>
</body>
</html>