@font-face {
    font-family: sans;
    src: url("../fonts/sans/sans.woff2");
}

@font-face {
    font-family: sans;
    src: url("../fonts/sans/sansbold.woff2");
    font-weight: bold;
}

*{
    padding: 0;
    margin : 0;
    font-family: "sans";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

input{
    background-color: white;
    border: 2px solid rgb(115, 196, 243);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 60%;
    outline: none;
    transition: all .2s ease-in-out;
    color: rgb(47, 166, 235);
}

input:focus{
    background-color: rgb(115, 196, 243);
    color: white;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: white;
    border: 2px solid rgb(115, 196, 243);
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover{
    background-color: rgb(115, 196, 243);
    color: white;
}

.flash{
    padding: 5px 10px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.flash-error{
    background-color: rgba(255, 0, 0, .2);
    border: 2px solid rgb(209, 29, 29);
    color: darkred;
}

.flash-warning{
    background-color: rgba(255, 255, 0, 0.2);
    border: 2px solid rgb(179, 179, 6);
    color: rgb(99, 99, 0);
}

.link{
    padding: 7px;
    font-size: 14px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    min-width: 150px;
    text-align: center;
}

.link:hover{
    background-color: rgb(167, 215, 247);
}

.line{
    color: rgb(115, 196, 243);
    margin: 0 17px;
}

input:-moz-placeholder {
    text-align: right;
    color: rgb(115, 196, 243);
}
input:-ms-input-placeholder {
    text-align: right;
    color: rgb(115, 196, 243);
}
input::-webkit-input-placeholder {
    text-align: right;
    color: rgb(115, 196, 243);
}

input:focus:-moz-placeholder {
    color: white;
}
input:focus:-ms-input-placeholder {
    color: white;
}
input:focus::-webkit-input-placeholder {
    color: white;
}

.info{
    margin: 10px; 
    padding: 10px 20px; 
    background-color: rgb(194, 228, 250);
    border-radius: 15px;
    font-size: 14px;
}

.btn{
    padding: 10px 20px;
    margin: 10px;
    background-color: rgba(0, 225, 0, .2);
    color: rgb(10, 109, 10);
    transition: all .2s ease-in-out;
    border-radius: 15px;
    font-size: 14px;
    border: 2px solid rgba(0, 225, 0, .2);
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    color: rgb(31, 187, 31);
    background-color: transparent;
}