<header style="background-color: rgb(205, 230, 247); margin: 10px; padding: 10px; border-radius: 10px;display: flex; align-items: center; box-shadow: 0 0 10px 1px rgb(205, 230, 247);">
    <div class="header-left" style="display: flex; justify-content: center; align-items: center; width: 50%;">
        <img src="/files/logo.png" alt="" style="width: 30px; background-color: rgb(167, 215, 247); border-radius: 50%; padding: 7px;">
    </div>
    <div class="header-right" style="display: flex; justify-content: center; align-items: center; width: 50%;">
        <div style="display: flex; align-items: center;">
            <a href="/export/category" class="link">خروجی از دسته‌بندی‌ها</a>
            <span class="line">|</span>
            <a href="/export/search" class="link">خروجی از جستجو</a>
            <span class="line">|</span>
            <a href="/duty" class="link">پنل حضور و غیاب همکاران</a>
            <span class="line">|</span>
	    <a href="/duty/admin" class="link">پنل ادمین حضور و غیاب</a>
        </div>
    </div>
</header>
