<header>
    <div class="header-left">
        <img src="/public/files/logo.png" alt="">
    </div>
    <div class="header-right">
        <ul>
            <li></li>
        </ul>
    </div>
</header>