<!DOCTYPE html>
<html lang="fa">
<%- include("../templates/head.ejs") %>
<body>
    <%- include("../templates/header.ejs") %>
    <%- include("../templates/flash.ejs") %>

    <div style="height: 70vh; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 30px;">
        <input type="text" style="width: 600px; padding: 20px 30px;" placeholder="لینک دسته‌بندی" id="link">
        <div style="display: flex; justify-content: center; align-items: center;">
            <p class="info" dir="rtl" id="product-count">تعداد محصولات یافت شده : -</p>
            <p class="info" dir="rtl" id="page-count">تعداد صفحات یافت شده : -</p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="" id="downloadFile" download> <button class="btn" style="width: 200px;" aria-disabled="true" id="excel">دانلود فایل اکسل</button> </a>
            <button class="btn" style="width: 200px" onclick="startExport()">شروع خروجی گرفتن</button>
        </div>
    </div>

    <script src="/scripts/axios.min.js"></script>
    <script>
        var link = document.getElementById("link")
        var productCount = document.getElementById("product-count")
        var pageCount = document.getElementById("page-count")
        var excelBtn = document.getElementById("excel")
        var downloadFile = document.getElementById("downloadFile")

        async function startExport () {
            const scrapped = await axios.post("http://localhost:5000/export/category", {
                link : link.value
            })

            productCount.innerHTML = `تعداد محصولات یافت شده : ${scrapped.productsCount}`
            pageCount.innerHTML = `تعداد صفحه های یافت شده : ${scrapped.pagesCount}`
            downloadFile.href = `/files/${scrapped.fileName}`
        }
    </script>
</body>
</html>