{
    "app" : {
        "port" : PORT,
        "secret" : SECRET,
        "websitePassword" : "as",
        "ip" : "localhost"
    },

    "db" : {
        "username" : USERNAME,
        "password" : PASSWORD,
        "name" : NAME  
    }
}